<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method= 'post'>
        Your Name: <input type='text' name= 'nm'>
        <br></br>
        Dojo Location: <select name='place'>
            <option>Dallas</option>
            <option>Austin</option>
            <option>El Paso</option>
        </select>
        <br></br>
        Favorite Language: <select name='lan'>
            <option>Python</option>
            <option>JAvaScript</option>
            <option>C#</option>
        </select>
        <br></br>
        Comment (optional): <br> 
        <textarea name="comment" cols="30" rows="5"></textarea>
        <br></br>
        <input type='submit' value='submit'/>
    </form>
</body>
</html>